$main-bg: #3f3f3f;
$header-bg: #212026;
$headerHeight: 80px;
$labelDate: rgb(145, 103, 201);
$labelSource: rgb(49, 170, 55);

body,
body * {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
  background: $main-bg;
  .hidden {
    right: -100% !important;
  }
  .header {
    height: $headerHeight;
    background: $header-bg;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    #news-search {
      border: 0px;
      font-size: 20px;
      border-radius: 50px;
      padding: 10px 20px;
      width: 400px;
      background-color: $main-bg;
      color: white;
      &:focus {
        outline: none;
      }
    }
    .loading {
      background: url(../images/fox.svg) no-repeat scroll;
      background-size: 40px;
      background-position: 99%;
    }
  }
  .news-container {
    height: calc(100% - #{$headerHeight});
    overflow: scroll;
    .news {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      .article {
        background: $header-bg;
        margin: 10px;
        border-radius: 10px;
        color: white;
        overflow: hidden;
        flex-basis: 23%;
        transition: 0.5s;
        &:hover {
          transform: translate(0, -4px);
          z-index: 1000;
        }
        .img {
          position: relative;
          img {
            width: 100%;
            height: 220px;
            object-fit: cover;
          }
          .info {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: flex-start;
            padding: 0 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
            .source {
              background: $labelSource;
              padding: 2px 5px;
              border-radius: 5px;
            }
            .date {
              background: $labelDate;
              padding: 2px 5px;
              border-radius: 5px;
            }
          }
        }

        .title {
          font-weight: 600;
          padding: 0 10px;
        }
        .description {
          padding: 0 10px;
        }
      }
    }
    .pagination {
      background: $main-bg;
      .load-more {
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 4;
        padding: 40px 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        button {
          font-size: 15px;
          background: none;
          padding: 10px 20px;
          color: white;
          border-radius: 30px;
          border-style: solid;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  #container {
    .news-container {
      .news {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  #container {
    .news-container {
      .news {
        grid-template-columns: repeat(1, 1fr);
        .article {
          &:hover {
            transform: scale(1);
          }
        }
      }
    }
  }
}
